/* CSS Code */

/* Body styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/img1.jpg) ;
    background-size: cover;
  }
  
  /* Header styles */
  header {
    background-color: #d37474;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Navigation styles */
  nav {
    background-color: #555;
    color: #250a0a;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #888;
  }
  
  /* Section styles */
  section {
    margin: 20px;
  }
  
  section h2 {
    color: #333;
  }
  
  section p {
    color: #000000;
  }
  
  section ul {
    list-style-type:circle;
    color: #000000;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  